opencv-python==4.5.4.58
Cython==0.29.24
numba==0.53.1
progress==1.6
matplotlib==3.3.4
easydict==1.9
scipy==1.5.4
pyquaternion==0.9.9
nuscenes-devkit==1.1.9
pyyaml==6.0
motmetrics==1.2.0
scikit-learn==0.22.2