calibration 
{
    #User can change the number of bins by changing this parameter
    # 1 => 256 bins, 2 => 128 bins, 4 => 64 bins etc.
    bin_fraction   = 1;
    scan
    {
        scan_folder            = "./data/scans/";
        #The scans are expected to be in text file format 
        #Each line of the file contains the [x, y, z] coordinates 
        #of 3D point with first line containing the number of points
        #in the file. The name of the file is expected to be: "scan_base_name%04d.type"
        scan_base_name         = "Scan_for_MI_";
        scan_type              = "txt";
        total_scans            = 45;
        num_scans_used         = 10;
        scans_randomly_sampled = 1;
        #This is used only when scans_randomly_sampled = 0 
        use_scans              = [6]; 
    }#scan

    initial_guess
    {
        #if "multi_cam" ==> we are estimating pose of laser wrt camera head (X_hl)
        #if "single_cam ==> we are estimating pose of laser wrt camera (X_cl)
        config_used = "single_cam"; 
        #Cam0-to-laser
        X0          = [0.4, 0, 0.3, 90, 0, -90];
    }#initial_guess

    #If you have a monocular camera use num_cameras = 1 
    #and just fill the entries for camera_0.
    cameras 
    {
        #supports two camera types 
        #(1) LB3_OMNIDIRECTIONAL
        #(2) MONOCULAR
        camera_type     = "MONOCULAR";
        num_cameras     = 1;
        image_base_name = "image";
        image_type      = "ppm";
        camera_0
        {
            camid           = 0; 
            folder          = "./data/Cam0/";
            width           = 1616;
            height          = 616; 
            focal_length    = 408.397136;
            camera_center_X = 806.586960;
            camera_center_Y = 315.535008;
            scale_x         = 1;
            scale_y         = 0.5;
            X_hc            = [0, 0, 0, 0, 0, 0];
            #X_hc            = [0, 0, 0, 0, 0, 0];
            mask            = "./data/Mask/Cam0.png";
        }#camera_0
    }#cameras

}#calibration
         
                         
