<launch>

    <arg name="project" default="lio_sam"/>
    
    <arg name="params_file" default="$(find lio_sam)/config/params_liosam.yaml"/>

    <rosparam file="$(arg params_file)" command="load" />

    <include file="$(find lio_sam)/launch/include/module_loam.launch" />

    <include file="$(find lio_sam)/launch/include/module_robot_state_publisher.launch" />

    <include file="$(find lio_sam)/launch/include/module_navsat.launch" />

    <include file="$(find lio_sam)/launch/include/module_rviz.launch" />

</launch>