<launch>

    <arg name="project" default="lio_sam"/>
    
    <arg name="params_file" default="$(find lio_sam)/config/params_liosam.yaml"/>

    <!-- Localization mode: reuse an existing map only to localize (does NOT erase/overwrite it). -->
    <!-- Usage: roslaunch lio_sam run.launch localizationMode:=true -->
    <arg name="localizationMode" default="false"/>
    <!-- Initial pose of the robot inside the map (map frame). Only used when localizationMode is true. -->
    <arg name="initialPoseX" default="0.0"/>
    <arg name="initialPoseY" default="0.0"/>
    <arg name="initialPoseZ" default="0.0"/>
    <arg name="initialPoseRoll" default="0.0"/>
    <arg name="initialPosePitch" default="0.0"/>
    <arg name="initialPoseYaw" default="0.0"/>

    <rosparam file="$(arg params_file)" command="load" />

    <!-- Override params from the launch flags (take precedence over the yaml file). -->
    <param name="lio_sam/localizationMode" value="$(arg localizationMode)"/>
    <param name="lio_sam/initialPoseX" value="$(arg initialPoseX)"/>
    <param name="lio_sam/initialPoseY" value="$(arg initialPoseY)"/>
    <param name="lio_sam/initialPoseZ" value="$(arg initialPoseZ)"/>
    <param name="lio_sam/initialPoseRoll" value="$(arg initialPoseRoll)"/>
    <param name="lio_sam/initialPosePitch" value="$(arg initialPosePitch)"/>
    <param name="lio_sam/initialPoseYaw" value="$(arg initialPoseYaw)"/>

    <param name="$(arg project)/savePCDDirectory" type="string" value="$(arg savePCDDirectory)" />

    <include file="$(find lio_sam)/launch/include/module_loam.launch" />

    <include file="$(find lio_sam)/launch/include/module_robot_state_publisher.launch" />

    <include file="$(find lio_sam)/launch/include/module_navsat.launch" />

    <include file="$(find lio_sam)/launch/include/module_rviz.launch" />

</launch>